{
  "branches": ["main", "dev"],
  "plugins":
    [
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
      ["@semantic-release/changelog", { "changelogFile": "CHANGELOG.md" }],
      ["@semantic-release/git", { "assets": ["CHANGELOG.md"] }],
      [
        "@semantic-release/github",
        {
          "assets":
            [
              {
                "path": "artifacts/selenium-plugin-jenkins_java-17-hpi/selenium-plugin-jenkins_java-17.hpi",
                "label": "Jenkins Plugin (Java 17)",
              },
              {
                "path": "artifacts/selenium-plugin-jenkins_java-21-hpi/selenium-plugin-jenkins_java-21.hpi",
                "label": "Jenkins Plugin (Java 21)",
              },
            ],
        },
      ],
    ],
}
