services:
  jenkins:
    image: jenkins/jenkins:latest-jdk17
    ports:
      - "80:8080"
      - "50000:50000"
      - "4444:4444"
      - "4442-4443:4442-4443"
    volumes:
      - jenkins_home:/var/jenkins_home
      - ./selenium-plugin/target:/usr/share/jenkins/ref/plugins/

  jenkins-agent:
    image: jenkins/inbound-agent:latest
    container_name: jenkins-agent
    restart: unless-stopped
    environment:
      - JENKINS_URL=http://host.docker.internal:8080/
      - JENKINS_AGENT_NAME=docker-agent-1
      - JENKINS_AGENT_WORKDIR=/home/jenkins/agent
      - JENKINS_SECRET=4fb78d2764c91cb6382b24f416166196d1611e3d6429e5032a19d0d31642f5b6
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - jenkins_agent_data:/home/jenkins/agent
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  jenkins_home:
  jenkins_agent_data:
